body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* detalle part */

.d-list {
    font-size: 12pt;
}

.d-list > li {
    font-weight: 500;
}

.d-list > li > span {
    font-weight: 300;
}

.d-legal {
    margin: 42px;
}

.d-legal > p {
    font-style: italic;
    font-size: 12pt;
}

/* loader */
/* ---------------------------------------------------------- */

.loader {
    margin-top: 250px;
    border: 0 solid #ccc;
    padding: 20px;
}
.loader_ajax_small {
    border: 2px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    margin: 0 auto;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
}

@-webkit-keyframes spin_loader_ajax_small {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin_loader_ajax_small {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------------- */