<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiFondoAFP</title>

    <environment include="Development">
        <link rel="stylesheet" href="customcss/styles-merged.css">
        <link rel="stylesheet" href="customcss/style.min.css">
        <link rel="stylesheet" href="customcss/custom.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="customcss/styles-merged.css">
        <link rel="stylesheet" href="customcss/style.min.css">
        <link rel="stylesheet" href="customcss/custom.css">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
            /* background-image: url("~/images/index-background.jpg"); */
            /* background-position: center; */
        .background {
            background-color: rgba(0,0,0,0.6);
            background-image: url("/images/index-background.jpg");
            heigh: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bolder {
            font-weight: 400;
        }

    </style>
</head>


<body style="padding: 0">

      <!-- START: header -->
  <header role="banner" class="probootstrap-header" style="padding: 18px; margin: 0">
    <div class="container-fluid">
      <!-- <div class="row"> -->
        <a href="index.html" class="probootstrap-logo">MI Fondo AFP</a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <!-- Sign in -->
            <li class="probootstrap-cta"><a asp-page="/SignUp" >Registrarse</a></li>
            <!-- Sign up -->
            <li class="probootstrap-cta"><a asp-page="/SignIn" >Ingresar</a></li>

            <!-- three -->
            <li class="probootstrap-cta"><a class="bolder" asp-page="/Datos" >Datos</a></li>
            <li class="probootstrap-cta"><a class="bolder" asp-page="/Estadistica" >Estadistica</a></li>
            <li class="probootstrap-cta"><a class="bolder" asp-page="/Proyeccion" >Proyección</a></li>

          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Social</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
            <p><small>&copy; Copyright 2017. All Rights Reserved.</small></p>
          </div>
        </nav>



      <!-- </div> -->
    </div>

  </header>
  <!-- END: header -->

    <!-- body -->

    <body class="background">

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - MiFondoAFP</p>
            </footer>
        </div>

    </body>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
