@page
@model ComisionFlujoModel
@{
    ViewData["Title"] = "Comisión por flujo";
}


<section>
    <h2>Comisión por Flujo</h2>
    <div class="row">
        <div class="col-md-6">
        <form id="my-form" method="post" class="probootstrap-form probootstrap-form-box" style="padding: 40px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="date">Fecha de Nacimiento</label>
                    <input class="form-control" id="date" name="date" placeholder="yyyy-mm-dd" type="text"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Condición</label>
                    <select class="form-control" id="condicion">
                        <option>Sano</option>
                        <option>Enfermo</option>
                    </select>
                    </div>
            </div>
        </div>
             
        <h4>Rentabilidad</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="">60 años</label>
                <select class="form-control" id="menorSesenta">
                    <optgroup label="Fondo 0">
                    <option>2%</option>
                    <optgroup label="Fondo 1">
                    <option>3%</option>
                    <option>4%</option>
                    <optgroup label="Fondo 2">
                    <option>5%</option>
                    <option>6%</option>
                    <optgroup label="Fondo 3">
                    <option>7%</option>
                    <option>9%</option>
                </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="">61 a 65 años</label>
                <select class="form-control" id="mayorSesenta">
                    <optgroup label="Fondo 0">
                    <option>2%</option>
                    <optgroup label="Fondo 1">
                    <option>3%</option>
                    <option>4%</option>
                    <optgroup label="Fondo 2">
                    <option>5%</option>
                    <option>6%</option>
                </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="sueldo">Sueldo</label>
                        <input type="number" min="1" name="sueldo" id="sueldo" class="form-control">
                    </div>       
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="sueldo">Saldo cuenta anterior</label>
                        <input type="number" min="1" name="saldoAnterior" id="saldoAnterior" class="form-control">
                    </div>       
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Género</label>
                    <select class="form-control" id="genero">
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Grado</label>
                    <select class="form-control" id="university">
                        <option>Universidad</option>
                        <option>Sin Universidad</option>
                    </select>      
                </div>
                <div class="row" id="uniShow">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="form-group">
                            <label for="">Tipo Universidad</label>
                            <select class="form-control" id="">
                                <option>Privada</option>
                                <option>Publica</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Nivel</label>
                            <select class="form-control" id="">
                                <option>Bachiller</option>
                                <option>Maestria</option>
                                <option>Doctorado</option>
                            </select>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>

        	<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Zona</label>
                    <select class="form-control" id="">
                        <option>Lima</option>
                        <option>Provincia</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    
                <label for="">AFP</label>
                <select class="form-control" id="">
                    <option>Habitat</option>
                    <option>Integra</option>
                    <option>Prima</option>
                    <option>Profuturo</option>
                </select>
                    
                </div>
            </div>
        </div>


        	<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="date">Vida proyectada</label>
                    <input type="number" min="1" name="vidaProyectada" id="vidaProyectada" class="form-control">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb50">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" id="modal">Detalle</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group mb50">
                    <input type="submit" value="Calcular" class="btn btn-primary btn-block">
                </div>
            </div>
        </div>


        </form>
        </div>
        <div class="col-md-6">
            
            <div class="row" id="rowcanvas">
                <canvas id="canvas" width="2136" height="2068" class="chartjs-render-monitor"></canvas>
                
            </div>
            <div class="row" style="text-align: center">
                <div class="col-md-6">
                    <h3>Acumulado SBS</h3>
                    <h4 id="acummSBS"></h4>
                </div>
                <div class="col-md-6">
                    <h3>Acumulado Azure ML</h3>
                    <h4 id="acummAML"></h4>
                </div>
            </div>

            <div class="row" style="text-align: center">
                <h3>Resultados</h3>
                <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Tipo de Fondo</th>
                    <th>AFP</th>
                    <th>ML</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Fondo Acumulado</td>
                    <td id="fonAccAFP"></td>
                    <td id="fonAccML"></td>
                </tr>
                <tr>
                    <td>Pensión mensual</td>
                    <td id="penMenAFP"></td>
                    <td id="penMenML"></td>
                </tr>
                </tbody>
                </table>
            </div>

            <div class="row" style="text-align: center">
                <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>AFP</th>
                    <th>Comision Sobre Flujo</th>
                    <th>Prima de seguros</th>
                    <th>Aporte obligatorio al fondo de pensiones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>HABITAD</td>
                    <td>1.47%</td>
                    <td>1.36%</td>
                    <td>10.00%</td>
                </tr>
                <tr>
                    <td>INTEGRA</td>
                    <td>1.55%</td>
                    <td>1.36%</td>
                    <td>10.00%</td>
                </tr>
                <tr>
                    <td>PRIMA</td>
                    <td>1.60%</td>
                    <td>1.36%</td>
                    <td>10.00%</td>
                </tr>
                <tr>
                    <td>PROFUTURO</td>
                    <td>1.69%</td>
                    <td>1.36%</td>
                    <td>10.00%</td>
                </tr>
                </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Supuestos ulilizados para el cálculo</h4>
        </div>
        <div class="modal-body">
            
            <div>
                <ul class="d-list">
                    <li>Fecha de Nacimiento: <span id="dFecNac"></span> </li>
                    <li>Condición: <span id="dCond"></span> </li>
                    <li>Sexo: <span id="dSex"></span> </li>
                    <li>Beneficiarios: <span id="dBen"></span> </li>
                    <li>Saldo de tu cuenta: <span id="dSal"></span> </li>
                    <li>Esquema de comisión: <span id="dEsq"></span> </li>
                    <li>Modalidad de pensión: <span id="dMod"></span> </li>
                    <li>Tipo de fondo: <span id="dTip"></span> </li>
                    <li>Rentabilidad fondo: <span id="dRen"></span> </li>
                    <li>Regularidad de aportes(densidad): <span id="dReg"></span> </li>
                    <li>Tasa de interés: <span id="dTas"></span> </li>
                    <li>Aporte Mensual Obligatorio: <span id="dApo"></span> </li>
                    <li>N de remuneraciones al año: <span id="dNremAnio"></span> </li>
                    <li>N de remuneraciones al mes: <span id="dNremMes"></span> </li>
                </ul>
            </div>

            <div class="d-legal">
                <h3>Notas Legales</h3>
                <p>
                    En la estimación se considera: en el caso del hombre, una cónyuge 5 años
                    menor; y en el caso de la mujer un cónyuge 5 años mayor, según Circular
                    AFP-085-2007
                </p>

                <p>
                    Los montos de pensión resultantes son una estimación. Cualquier variación
                    en los supuestos puede modificar los resultados de manera importante. La
                    tasa de descueto y la rentabilidad son fluctuantes y varían de acuerdo y
                    rentabilidades pasadas pueden variar en el futuro. Estas cifras no
                    comprometen de modo alguno a la AFP a garantizar un monto de pensión
                    determinado.
                </p>
                <p>
                    Si tienes una edad mayor o igual a 55 años, te sugerimos acercarte a una
                    de las agencias de AFP para recibir información complementaria acerca
                    de las variables que determinan tu pensión. También puedes conocer los diferentes
                    <a href="https://www.google.com/">tipos de jubilación</a> y <a href="https://www.google.com/">modalidades de pensión</a> que te ofrece el
                    SPP
                </p>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<!-- toggle univerdad -->
<script>
    $(document).ready(function(){
        $("#university").change(function(){
            var value = $("#university option:selected").val();
                console.log(value);

            if (value == "Universidad") {
                $("#uniShow").show();

            } else {
                $("#uniShow").hide();
            }
        });
    });

</script>

<!-- date picker -->

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<script>


    // get form values

    //constantes
    const edadJubilacion = 65

    // from form
    let formValues = []
    let edad = 0
    let rentabilidadAnual = 0
    let sueldo = 0

    //calculated
    let rentabilidadMensual = 0
    let miFondo = 0
    let misFondos = []


    $(function() { //shorthand document.ready function
    $('#my-form').on('submit', function(e) { //use on if jQuery 1.7+
        e.preventDefault();  //prevent form from submitting
        var data = $("#my-form :input").serializeArray();
        formValues = data

        edad = (new Date().getFullYear()) - Number(formValues[0].value.split("-", 1))
        rentabilidadAnual = 10
        sueldo = Number(formValues[1].value)

        rantabilidadMayor = Number($('#mayorSesenta').val().replace('%',''))
        rentabilidadMenor= Number($('#menorSesenta').val().replace('%',''))

        rentabilidadMensual = (Math.pow(1 + rentabilidadAnual/100, 30 / 360) - 1)

        rentabilidadMayorMensual = (Math.pow(1 + rantabilidadMayor/100, 30 / 360) - 1)
        rentabilidadMenorMensual = (Math.pow(1 + rentabilidadMenor/100, 30 / 360) - 1)

        // var msj = "@Model.Mensaje";
        // alert(msj);

        miFondo = calcularFondo(0,rentabilidadMensual,sueldo)
        misFondos = calcularFondos(edad, edadJubilacion,rentabilidadMenorMensual, rentabilidadMenorMensual, sueldo)

        //fondo AZURE ML
        misFondosRed = calcularFondos(edad, edadJubilacion, rentabilidadMenorMensual, rentabilidadMenorMensual, sueldo + 2000)
        
        //set accumulados
        document.getElementById("acummSBS").innerHTML = "S/." + formatMoney(misFondos.reduce((acc, fondo) => acc + fondo, 0).toFixed(2))
        document.getElementById("acummAML").innerHTML = "S/." + formatMoney(misFondosRed.reduce((acc, fondo) => acc + fondo, 0).toFixed(2))

        //set tabla 2

        document.getElementById("fonAccAFP").innerHTML = "S/." + formatMoney(misFondos.reduce((acc, fondo) => acc + fondo, 0).toFixed(2))
        document.getElementById("fonAccML").innerHTML = "S/." + formatMoney(misFondosRed.reduce((acc, fondo) => acc + fondo, 0).toFixed(2))

        document.getElementById("penMenAFP").innerHTML = "S/." + formatMoney(misFondos[0].toFixed(2))
        document.getElementById("penMenML").innerHTML = "S/." + formatMoney(misFondosRed[0].toFixed(2))

        // LLAMAR METODO DE C#

        var edad = 23;

        $.ajax({
            type: 'POST',
            url: '/api/azure',
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            data: JSON.stringify({
	        "edad" : edad,
	        "grado" : "asfd",
	        "priv" : "asdf",
	        "uni" : "uniasd",
            "genero" : "sfd",
            "ciudad" : "Lima"
            }),
            success: function(resp){
                
                //implementar lógica aqui

                var resultado = resp;

                
                console.log(resp);




                // load data to graph
                var barChartData = {
                    labels: getYears(edad, edadJubilacion),
                    datasets: [{
                        label: 'SBS',
                        backgroundColor: "rgba(138,197,242,1)",
                        borderColor: "rgba(45,143,230,1)",
                        borderWidth: 1,
                        data: misFondos,
                        fill: false,
                    },{
                        label: 'Azure ML',
                        backgroundColor: "rgba(253,159,180,1)",
                        borderColor: "rgba(252,72,113,1)",
                        borderWidth: 1,
                        data: misFondosRed,
                        fill: false,
                    }],
                }
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myBar = new Chart(ctx, {
                    type: 'line',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Comisión por flujo'
                            },
                            tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Edad'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Monto'
                                },
                                ticks: {
                                beginAtZero: true,
                                stepSize: 500000,
                                // Return an empty string to draw the tick line but hide the tick label
                                // Return `null` or `undefined` to hide the tick line entirely
                                userCallback: function(value, index, values) {
                                    // Convert the number to a string and splite the string every 3 charaters from the end
                                    value = value.toString();
                                    value = value.split(/(?=(?:...)*$)/);
                                    
                                    // Convert the array to a string and format the output
                                    value = value.join('.');
                                    return 'S/.' + value;
                                    }
                                }
                            }]
                        }
                        }
                });

            }
        });


        

    });
    });

    function calcularFondos(edad, edadJubilacion, rentabilidadMenor, rentabilidadMayor, sueldo) {
        let anios = edadJubilacion - edad
        let misFondos = []

        // at the beginning starts at 0
        let fondoAux = 0
        let fondoCalculadoAux = 0

        let rentabilidad = rentabilidadMenor

        for (let iYear = 0; iYear < anios; iYear++) {

            if (iYear % 4 == 0 && edad < 60) {
                sueldo += 1500
            }

            // if (iYear == 7) {
            //     sueldo -= 7000
            // }

            if (edad >= 61) {
                rentabilidad = rentabilidadMayor
                sueldo -= 6500
            }
            
            auxSumMonth = 0

            for (let i = 0; i < 12; ++i) {
                fondoCalculadoAux = calcularFondo(fondoAux,rentabilidad,sueldo)
                auxSumMonth += fondoAux
                fondoAux = fondoCalculadoAux
            }
    
            misFondos.push(Number(auxSumMonth.toFixed(2)))
            auxSumMonth = 0
            edad += 1
        }

        
        return misFondos
    }

    function calcularFondo(fondo, rentabilidad, sueldo) {
        return fondo * (1 + rentabilidad) + 0.1 * sueldo
    }


    function getYears(fromYear, toYear) {
        
        if (fromYear == toYear) {
            return [fromYear + '']
        } else {

            let yearsToReturn = []
            const years = toYear - fromYear
            for (let i = 0; i <= years; i++) {
                yearsToReturn.push(fromYear + i + '')
            }
            return yearsToReturn
        }
        
    }

    function getMonths(fromYear, toYear) {
        let monthsTemplate = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        let arrayMonths = []

        if (fromYear == toYear) {
            return concadenateYear(monthsTemplate, fromYear)
        } else {
            years = toYear - fromYear
            
            for (let i = 0; i <= years; i++) {
                console.log(Number(fromYear) + i);

                arrayMonths = arrayMonths.concat(concadenateYear(monthsTemplate, fromYear + i))
                monthsTemplate = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
            }
        }

        return arrayMonths
    }

    function concadenateYear(months, year) {
        console.log(year);
        for (let i = 0; i < months.length; i++) {
            months[i] = months[i] + " " + year
        }
        return months
    }

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    }



    $("#modal").click(function(){
        
        var data = $("#my-form :input").serializeArray();
        formValues = data

        var label=$("#menorSesenta :selected").parent().attr("label");


        $("#dFecNac").text(formValues[0]["value"]);
        $("#dCond").text($("#condicion").val());
        $("#dSex").text($("#genero").val());
        $("#dBen").text("Por definir*");
        $("#dSal").text(formValues[1]["value"]);
        $("#dEsq").text("Por Flujo");
        $("#dMod").text("Por definir*");
        $("#dTip").text($("#menorSesenta :selected").parent().attr("label"));
        $("#dRen").text($("#menorSesenta").val());
        $("#dReg").text("Por definir*");
        $("#dTas").text("3%");
        $("#dApo").text("10%");
        $("#dNremAnio").text(12);
        $("#dNremMes").text(12);
    });

</script>