@page
@model DatosModel
@{
    ViewData["Title"] = "Datos";
}

  <section class="probootstrap-section">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Juan Pérez</h2>
                    <p style="margin-left: 8px">77463234</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <div style="text-align: center">
                            <a asp-page="/Trabajo"><img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/work.svg" alt="Visual Studio" class="img-responsive" width="100px" height="100px"/></a>
                            <p>Trabajo</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="text-align: center">
                        <a asp-page="/Estudios"><img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/college.svg" alt="Visual Studio" class="img-responsive" width="100px" height="100px" /></a>
                        <p>Estudios</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="text-align: center">
                        <a asp-page="/Salud"><img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/health.svg" alt="Visual Studio" class="img-responsive" width="100px" height="100px"/></a>
                        <p>Salud</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="text-align: center">
                        <a asp-page="/Finanzas"><img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/finance.svg" alt="Visual Studio" class="img-responsive" width="100px" height="100px"/></a>
                        <p>Finanzas</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
 
    </div>
  </section>