@page
@model EstadisticaModel
@{
    ViewData["Title"] = "Estadística";
}

  <section class="probootstrap-section">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Juan Pérez</h2>
                    <p style="margin-left: 8px">77463234</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>



  <script>
        var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	    var color = Chart.helpers.color;
        var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [1,2,3,4,5,6,7]
			}]
		}


        window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Chart.js Bar Chart'
					}
				}
			});

		};

  
  </script>