@page
@model EstadisticaModel
@{
    ViewData["Title"] = "Estadística";
}

  <section class="probootstrap-section">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Juan Pérez</h2>
                    <p style="margin-left: 8px">77463234</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="container" style="width: 75%;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
		                    <canvas id="canvas" width="2136" height="1068" class="chartjs-render-monitor" style="display: block; height: 534px; width: 1068px;"></canvas>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="row">
                    <div class="col-md-3">
                        <h3>AFP</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>233434</h3>
                    </div>
                    <div class="col-md-6">
                    
                    </div>
                </div>

            </div>
        </div>

        <div>asa @Model.message </div>

    </div>
  </section>

  <script type="text/javascript" src="~/js/Chart.bundle.js"></script>
  
  <script>
      
      var valor = "@Model.message";

      console.log(valor);

  </script>
  <script>
        var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	    var color = Chart.helpers.color;
        var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: "rgba(138,197,242,1)",
                borderColor: "rgba(45,143,230,1)",
				borderWidth: 1,
				data: [1,2,3,4,5,6,7]
			}]
		}


        window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Chart.js Bar Chart'
					}
				}
			});

		};

  
  </script>