@page
@model ProyeccionModel
@{
    ViewData["Title"] = "Proyección";
}

<div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Juan Pérez</h2>
                    <p style="margin-left: 8px">77463234</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="row">
                    <h3 style="text-align: center; margin-bottom: 50px;">Elija un opción de simulación</h3>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-center">
                            <a class="btn btn-primary btn-md btn-block" role="button" asp-page="/ComisionFlujo">Comisión por flujo</a>
                             <!-- <li class="probootstrap-cta"><a class="bolder" asp-page="/Datos" >Datos</a></li> -->
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-center">
                            <a class="btn btn-primary btn-md btn-block" role="button" asp-page="/ComisionSaldo">Comisión por saldo</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-center">
                            <a href="#" class="btn btn-primary btn-md btn-block" role="button">Comisión mixta</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-center">
                            <a href="#" class="btn btn-primary btn-md btn-block" role="button">Calcular pensión</a>
                        </p>
                    </div>
                    
                </div>

            </div>
        </div>